:root{
    --primary-colour: #EA0A15;
    --dark-colour: #151313ea;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: grey;
}

ul{
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    color: white;
}

a{
    color: white;
    text-decoration: none;
     /* to remove underlines */
}

p{
    margin: 0.5rem 0;
}

img{
    width: 100%;
}

.showcase{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('../img/background.jpg') no-repeat center center/cover;
}


/* to overlay on the background image */
.showcase::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* on top of */
    background: rgba(0,0,0,0.4);
    box-shadow: inset 0 100px 300px #000, inset 0 -100px 250px #000;
}

.showcase-top{
    position: relative;
    /* making image relative to the parent */
    height: 90px;
    z-index: 2;
}

.showcase-top img{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* to position the element to the centre */

}

.showcase-top a{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.showcase-content{
    position: relative;
    margin: auto;
    display: flex;
    /* flex container to control children layout */
    flex-direction: column;
    justify-content: center;
    /* to align items in main axis */
    align-items: center;
    /* to align items in cross axis */
    text-align: center;
    top: 10rem;
    z-index: 2;
}

.showcase-content h1{
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 0.9rem;
}


.showcase-content p{
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.25;
    margin-bottom: 1.3rem;
}



/* tabs */


.tab-content{
    padding: 3rem 0;
    background: black;
    border-bottom: 4px solid #434141ff;
}


.tabs{
    background: var(--dark-colour);
    border-bottom:4px solid #434141ff ;
}

.tabs .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-content: center;
    text-align: center;
}


.tabs .container > div {
    padding: 1.5rem 0;
}


.tabs .container > div:hover{
    color: white;
    cursor: pointer;
}

.tab-border{
    border-bottom: var(--primary-colour) 4px solid;
}

.tabs p{
    font-size: 1.2rem;
    padding-top: 0.5rem;
}


#tab1-content .tab1-content-inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
}


.tab2-content-top{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1.2rem;
    justify-content: center;
    align-content: center;
    padding-bottom: 2rem;
}


.tab2-content-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    justify-content: center;
    align-content: center;
    text-align: center;
}


.tab3-content-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.2rem;
    justify-content: center;
    align-content: center;
    padding-bottom: 2rem;
}


.table{
    width: 100%;
    margin-top: 2rem;
    border-spacing: 0;
}

.table thead th{
    text-transform: uppercase;
    padding: 0.6rem;
}

.table tbody tr td {
    color: #999;
    padding: 0.8rem 1rem;
    text-align: center;
}

/* we do not want text centering in first column  */
.table tbody tr td:first-child{
    text-align: left;

}


.table tbody tr:nth-child(odd){
    background: rgb(38, 38, 38);
}



/* container */
.container{
    max-width: 80%;
    margin: auto;
    /* everything on center */
    overflow: hidden;
    padding: 0 2rem;
}



/* buttons */
.btn {
    display: inline-block;
    /* elements are presented in block in a line in which height and width could be changed  */
    background: var(--primary-colour);
    color: white;
    padding: 0.5rem 1.5rem;
    /* top right bottom left */
    font-size: 1rem;
    text-align: center;
    border: none;
    margin-right: 0.5rem;
    /* in case buttons are put inline next to each other */
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0,0.5);
    border-radius: 2px;

}

.btn:hover{
    opacity: 0.8;
}

.btn-rounded{
    border-radius: 6px;
}

.btn-xl{
    font-size: 2rem;
    /* 1 rem is 16 px */
    padding: 1.5rem 2rem;
    text-transform: uppercase;
}

.btn-lg{
    font-size: 1.5rem;
    padding: 0.6rem 1.5rem;
    text-transform: uppercase;
    margin: auto;
}


/* Text styles */

.text-xl{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
}

.text-lg{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: white;
}

.text-md{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: white;
}

/* Footer */

.footer{
max-width: 80%;
margin: 4rem auto;
overflow: auto;
padding-bottom: 5rem;
}

.footer, .footer a{
    color: #999;
    font-size: 0.9rem;
}

.footer p{
    margin-bottom: 1.5rem;
}

.footer-cols{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3rem;
    justify-content: center;
    align-content: center;
    text-align: left;
}


.footer-cols li{
    line-height: 2rem;
    text-decoration: underline;
}


/* for responsiveness */
@media(max-width: 960px){
    .showcase{
        height: 70vh;

    }

    .hide-sm{
        display: none;
    }

    .showcase-top img{
        top: 20%;
        left: 5%;
        transform: translate(0);
        width: 25%;
    }

    .showcase-content h1{
        font-size: 2.5rem;
        line-height: 1;
    }

    .showcase-content p{
        font-size: 1.1rem;
    }


    .footer-cols{
        grid-template-columns: 1fr 1fr;
    }


    .btn-lg{
        font-size: 1rem;
        padding: 0.6rem 1rem;
    }

    .text-xl{
        font-size: 1.5rem;
    }

    .text-lg{
        font-size: 1.3rem;
    }

    .text-md{
        font-size: 1.1rem;
    }
}


@media(max-width:700px){
   #tab1-content .tab1-content-inner{
        grid-template-columns: 1fr;
        text-align: center;
    }

   #tab2-content .tab2-content-top{
    grid-template-columns: 1fr;
    text-align: center;
    }


    #tab2-content .tab2-content-bottom{
        grid-template-columns: 1fr;
    }

    .showcase::after{
        background: rgba(0,0,0,0.6);
        box-shadow: inset 0 30px 100px #000, inset 0 -30px 80px #000;
    }

}